/release/*
!/release/*.xml

/mods
/files/gui/psd
/files/previews/example.psd
/files/mods/SOUNDPACK/ozvuchka-the-last-waffentrager-dlya-wot/mods/1.23.0.0/voiceover.mtmod

**/*.log
**/*.lnk
**/ImgSize-*
**/ImgsSize.txt

*.wotreplay
*.wotmod

todo.txt
